body {
    background-image: url("/images/Sedona.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 960px) {

    body {
        background-image: url("/images/Sedona.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: fixed; */
        color: white;
        font-family: 'Dancing Script', cursive;
        font-family: 'Indie Flower', cursive;
        font-family: 'Roboto', sans-serif;
    }

    .tighten {
        padding-top: 100px;
        font-size: 55px;
        padding-bottom: 20px;
    }

    .navigators-main {
        display: inline-block;
        /* margin-top: 35px; */
        font-size: 18px;
    }

    .navigators {
        margin-top: 5px;
    }

    .aboutMe {
        width: 90vw;
    }

    .skills {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }
}

#me {
    display: inline-block;
    /* flex-direction: row;
    justify-content: space-evenly; */
    position: relative;
    top: -100px;
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    text-shadow: 10px 5px rgba(0, 0, 0, 0.3);
}

a {
    transform: scale(1.2);
}

.header {
    position: absolute;
    right: 150px;
    width: 200px;
    height: 120px;
}

.link {
    color: #fff;
    text-decoration: none;
    
}

.link:hover {
    transition-timing-function: ease-in;
    color: rgb(255, 252, 82);

  /* Quick on the way out */
  transition: 0.8s;
}

.skills {
    display: inline-block;
    /* flex-direction: row;
    justify-content: space-evenly; */
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    text-shadow: 10px 5px rgba(0, 0, 0, 0.3);
}

#skills h1 {
    display: flex;
    justify-content: center;
    
}

a:hover {
    text-shadow: 2px 2px black;
    /* transform: scale(1.1);
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1); */
    transition-timing-function: ease-in;

    /* Quick on the way out */
    transition: 0.8s;

}



#introduce {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    /* padding-bottom: 200px; */
    min-width:10vw;
    max-width: 60vw;
    text-align:center;
	margin:0 auto;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px black;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}

.navigators {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    align-items: center;
    color: white;
}

#projects {
    display: flex;
    flex-direction: column;
    min-width:10vw;
    max-width: 35vw;
    text-align:center;
	margin:0 auto;
    align-items: center;
    justify-content: center;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 25px;
}

.projects:hover {
    transition-timing-function: ease-in;
    color: rgb(255, 252, 82);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25%;
  /* Quick on the way out */
  transition: 0.8s;
}

.projects {
    display: flex;
    justify-content: center;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    text-decoration: none;
}


#about {
    display: flex;
    flex-direction: column;
    min-width:10vw;
    max-width: 35vw;
    text-align:center;
	margin:0 auto;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 20px;
}

.col {
    display: flex;
    flex-direction: column 3;
    justify-content: space-evenly;
    text-align: left;
}

.topic {
    font-size: 50px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    text-align: center;
}

#contact {
    margin-top: 120px;
    text-align: center;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

#contactTop {
    font-size: 50px;
}

.spread {
    padding-top: 100px;
    padding-bottom: 20px;
}

.dropdown {
    float: left;
    overflow: hidden;
    padding-top: 20px;
  }
                                                                                                              

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 25px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
  }
  

a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: black;
   
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  

  .dropdown-content a:hover {
    background-color: rgb(247, 247, 247);
    color: rgb(255, 252, 82);
  }
  
 
  .dropdown:hover .dropdown-content {
    display: block;
  }