body {
    /* background-image: url("/images/Jinotega.JPG"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    color: black;
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px #000;
}

a:hover {
    text-shadow: 1px 1px black;
    /* transform: scale(1.1);
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1); */
    transition-timing-function: ease-in;
    color: rgb(255, 252, 82);

  /* Quick on the way out */
  transition: 0.8s;

}

#header {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: left;
    text-align: center;
    font-size: 4em;
    width: 3em;
    margin: 0;
    border: 2px solid black;
    z-index: 10;
    text-shadow: 2px 2px #000;
    background-color: rgb(228, 228, 228);
    margin-bottom: 15px;
}

.topic {
    font-size: 50px;
}

.showInfo {
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    min-width:10vw;
  max-width: 35vw;
  text-align:center;
    text-shadow: 1px 1px black;
    background-color: rgb(228, 228, 228);
    font-size: 2em;
    border: 2px solid black;
}